html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

main{
   width: 90%;
   align-self: center;
   background-color: inherit;
   display: flex;
   flex-direction: column;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

.scroll-to-top-btn {
   z-index: 1;
   display: none;
   cursor: pointer;
   border-radius: 50%;
   background-color: red;
   color: #FFFFFF;
   height: 5em;
   width: 5em;
   position: fixed;
   right: 0;
   bottom: 0;
   margin-bottom: 1em;
   margin-right: 1em;
}

.scroll-to-top-btn, .scroll-to-top-btn i{
  transition: all 0.5s ease;
}

.scroll-to-top-btn:hover{
   background-color: #D00;
}

.scroll-to-top-btn:hover i{
  transform: translateY(-0.2em);
}

@media only screen and (min-width: 1024px) {
  .content-container{
    flex-direction: row;
    margin-top: 8em;
    justify-content: space-between;
    min-height: 60vh;
  }

  main{
    padding: 0 2em;
  }
}