html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

main{
   width: 90%;
   align-self: center;
   background-color: inherit;
   display: flex;
   flex-direction: column;
 }

 .main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 0;
  margin: 0;
 }

   /* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .main-container{
    flex-direction: row;
    margin-top: 8em;
    justify-content: space-between;
  }

  .main-container{
    min-height: 60vh;
  }

  main{
    padding: 0 2em;
  }
}