nav{
  height: 100px;
  width: 100%;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

nav > span{
  font-family: 'Bungee', sans-serif;
}

#nav-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compose {
  background-color: inherit;
  outline: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.compose:hover i{
  transform: translateY(0.25em);
}

.compose p span{
  font-weight: 600;
}

.compose p {
  margin: 0;
}

.compose i{
  color: red;
}

  /* Laptops / Desktops: minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    nav{
      background-color: #4056A1;
    }
  }