.new-tweet {
  width: 80%;
}
.new-tweet > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet textarea{
  background-color: inherit;
  border: none;
  border-bottom: 0.2em solid black;
}

.tweet-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.tweet-btn-container > button {
 background-color: #4056A1;
 color: #FFF;
 font-weight: 800;
 outline: none;
 border: none;
 padding: 0.5em 1em;
}