/*This class is only applied if the length of the composed tweet exceeds 140 chars*/
.red-text {
  color: red;
}

.new-tweet {
  min-width: 100%;
  display: none;
}

.new-tweet > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet textarea{
  background-color: inherit;
  border: none;
  outline: none;
  border-bottom: 0.2em solid black;
}

.tweet-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-weight: 900;
}

.tweet-btn-container > button {
  background-color: #4056A1;
  color: #FFF;
  font-weight: 800;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tweet-btn-container > button:hover{
  background-color: #687bb9;
  transform: translateX(0.1em);
  transform: translateY(0.05em);
}

@media only screen and (min-width: 1024px) {
  .new-tweet h2{
    padding-top: 0;
    margin-top: 0;
  }
}